#educations {
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JETFf6K/simple-background-circle-s-color-4k_v3l_dfpxdl__F0000.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
.school-img {
    padding: 1em;
}
.school-card {
    width: 80%;
    margin: 1em auto 1em auto;
}
