.preloader-wrapper {
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
main {
    background-color: black;
}
#root {
    background-image: url('http://all4desktop.com/data_images/original/4236532-background-images.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
