.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

.margin-top-15 {
  margin-top: 15rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.text-black {
  color: black;
}

.title {
  font-weight: 300;
  color: brown;
}

.no-top-padding {
  padding-top: 0px;
}
